@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  text-align: center;
  background-image: url("https://img3.akspic.com/image/75338-heart-music-valentines_day-petal-information-1920x1080.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center top;
  background-color: #2d142c;
}
a {
color: #e82f3f;
}
div#title{
  font-family: 'Pacifico', cursive;
  color: #e82f3f; 
  margin-top: 5%;
  margin-bottom: 1%;
}
h2{
  font-family: 'Roboto Condensed', sans-serif;
  color: #e82f3f;
}
h4{
  font-family: 'Roboto Condensed', sans-serif;
  color: #e82f3f;
}
h5{
  font-family: 'Roboto Condensed', sans-serif;
  color: #333333;
}
p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #333333;
  font-size: 20px;
}
form#user_form{
  text-align: center;
}
input.couple_names{
  width: 300px;
  border-color: #e82f3f;
}
input#custome_offset{
  font-family: 'Roboto Condensed', sans-serif;
  color: #e82f3f;
  text-align: center;
  width: 50px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 30px;
}
input.mesages{
  width: 500px;
  height: 200px;
  border-color: #e82f3f;
  text-align: center;
}
div#name_alert{
  width: 500px;
}